body {
    animation: transitionIn 0.6s;
    /* Reduje la duración a 0.3 segundos */
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-25deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}